
html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.25rem;
}

section {
    scroll-margin-top: 80px;
}
